.custom-paginate{
  display: flex;
  justify-content: center;
}

.custom-paginate li.disabled{
  background: rgb(239 226 226);
  cursor: no-drop;
  overflow: hidden;
}

.custom-paginate li.disabled a {
  background:  rgb(239 226 226);
  color: black;
  cursor: no-drop;
} 
